* { box-sizing: border-box; }

:root {
    /* colors */
    --accent-color: #ffcace;
    --side-color: #ff8800;
    --black: #202020;
    --light-gray: #ddd;
 
    /* utlities */
    --box-shadow: 0 5px 10px var(--light-gray);
    --border: 1px solid var(--accent-color);
 
    /* fonts */
    --helvetica: Helvetica, sans-serif;
}
 
html { font-size: 16px; }
 
body {
    font-family: var(--helvetica);
    font-size: 1rem;
}
 
h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
 
a:link, a:active, a:visited {
    color: var(--accent-color);
    text-decoration: none;
}
 
a:hover { color:var(--side-color); }
 
/* media queries: mobile first */
@media (min-width: 480px) { } /* mobile */
 
@media (min-width: 768px) { } /* tablet: 768 o más */
 
@media (min-width: 1024px) { } /* desktop: 1024px o mas */