/**
    
grid-template-areas
Definim el àrea on va el element fill

paraules clau: 
none / sense cel·la
punt (.) / cel·la buida

**/

* {
    box-sizing: border-box;
}

body { 
    font-family: Helvetica, sans-serif;
    padding: 20px;
    display: grid; 
    grid-template-areas: "header" "nav" "main" "aside" "footer";
}

main {  
    background: rgb(236, 236, 236);
    grid-area: main;
}

header, nav, main, aside, footer { 
    padding: 20px;
    background: #9bbfcf;
    color: white;
    border-radius: 2px;
    margin: 3px;
    text-align: center;
}

/** 
  grid-area:
  Posiciona el element dins del area anomenada.

  el nombre va sin comillas! da igual lo que se le ponga en el nombre, es como declarar una variable :O 
  
   ". header ." "nav nav nav" "main main aside" " footer footer footer";
   esto son 4 rows indicadas por "" y dentro cada palabra indica una columna, pero siempre tiene que haber el mismo numero de columnas!
   . significa espacio vacío
   "main main aside" significa que el main ocupa 2/3 y aside 1/3 restante
  
**/
header { grid-area: header; }
nav { grid-area: nav; }
aside { grid-area: aside; }
footer { grid-area: footer; }



/***** Media query: mobile first - FINS AQUI Mòbil verical *****/

/*** Mòbils en horitzontal o tablets en vertical ***/
@media (min-width: 768px) { 
    body { 
        grid-template-areas: ". header ." "nav nav nav" "main main aside" " footer footer footer";
        grid-template-columns: repeat(3, 1fr);
    }
}

/*** Tablets en horitzontal y escriptori normal ***/
@media (min-width: 1024px) { 
    body {  
        grid-template-areas: ". header header ." "nav nav nav nav" "main main aside aside" ". footer footer .";
        grid-template-columns: repeat(4, 1fr);
    }
}

/*** Escriptoris molt grans ***/
@media (min-width: 1200px) { }
